<!DOCTYPE html>
<html>
<head>
	<title>New Puppy</title>
</head>
<body>

	<h4>Puppy Name: <%= "\n" + @puppy.name %> </h4>
	<h4>Puppy Breed: <%= "\n" + @puppy.breed %> </h4>
	<h4>Puppy Age: <%= "\n" + @puppy.age %> </h4>

</body>
</html>